<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<p><label for="wystawca_nazwa">Nazwa</label><br/>
<%= text_field 'wystawca', 'nazwa'  %></p>

<p><label for="wystawca_ulica_nr">Ulica nr</label><br/>
<%= text_field 'wystawca', 'ulica_nr'  %></p>

<p><label for="wystawca_kod">Kod</label><br/>
<%= text_field 'wystawca', 'kod'  %></p>

<p><label for="wystawca_miejscowosc">Miejscowosc</label><br/>
<%= text_field 'wystawca', 'miejscowosc'  %></p>


<p><label for="wystawca_osoba_up">Osoba up</label><br/>
<%= text_field 'wystawca', 'osoba_up'  %></p>

<p><label for="wystawca_regon">Regon</label><br/>
<%= text_field 'wystawca', 'regon'  %></p>

<p><label for="wystawca_nip">Nip</label><br/>
<%= text_field 'wystawca', 'nip'  %></p>

<p><label for="wystawca_bank">Nazwa Banku</label><br/>
<%= text_field 'wystawca', 'bank'  %></p>

<p><label for="wystawca_nr_konta">Nr Konta bankowego</label><br/>
<%= text_field 'wystawca', 'nr_konta'  %></p>

<p><label for="wystawca_wzor">Wzór numeracji faktur a</label><br/>
<%= text_field 'wystawca', 'wzor' %> - doda przedrostek : NR/ <br/>
</p>
