<%= link_to "<h1> Menu główne </h2>", :controller => 'fakturka', :action => 'index' %>

<hr>
<h2> Lista wystawców faktur </h2>

<%= link_to 'Nowy Wystawca', :action => 'new' %>
<br><br>

<table BORDER=1 CELLPADDING=3 CELLSPACING=1 RULES=ROWS FRAME=HSIDES>
  <tr>
  <th>Nazwa:</th>
  <th>Ulica numer:</th>
  <th>Kod:</th>
  <th>Miejscowość:</th>
  <th>Osoba upoważniona</th>
  <th>Numeracja faktur</th>
  <th>Nip:</th>
  <th>Regon:</th>
  <th>Bank:</th>
  <th>Nr konta:</th>
</tr>


<% @wystawca.each do |k| %>
<tr>
  <% if session['f'] %>
  <td>
  <%= link_to "<font color=\"green\">#{k.nazwa}</font>", :controller => 'fakturka', :action=>'wystawca', :id=>k.id, :f => 'tak' %></td>
  <% else %>
<td><%= link_to k.nazwa, :action=>'show', :id => k.id %> </td>
<% end %>
<td><%= k.ulica_nr %> </td>
<td><%= k.kod %></td>
<td><%= k.miejscowosc %> </td>
<td><%= k.osoba_up %>   </td>
<td><%= k.wzor %> </td>
<td><%= k.nip %></td>
<td><%= k.regon %> </td>
<td><%= k.bank %></td>
<td><%= k.nr_konta %></td>
<td><%= link_to "Zmień", :action=>'edit', :id => k.id %> </td>
<td><%= link_to "Usuń", :action=>'delete', :id =>k.id %> </td>
<% if session['f'] %>
<td><%= link_to "Zobacz", :action=>'show', :id => k.id %> </td>
<% end  %>
</tr>
<% end %>
</table>
<br>
<%= will_paginate @wystawca %>

