<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<p><label for="kontrahent_nazwa">Nazwa</label><br/>
<%= text_field 'kontrahent', 'nazwa'  %></p>

<p><label for="kontrahent_ulica_nr">Ulica nr</label><br/>
<%= text_field 'kontrahent', 'ulica_nr'  %></p>

<p><label for="kontrahent_kod">Kod</label><br/>
<%= text_field 'kontrahent', 'kod'  %></p>

<p><label for="kontrahent_miejscowosc">Miejscowosc</label><br/>
<%= text_field 'kontrahent', 'miejscowosc'  %></p>


<p><label for="kontrahent_osoba_up">Osoba up</label><br/>
<%= text_field 'kontrahent', 'osoba_up'  %></p>

<p><label for="kontrahent_regon">Regon</label><br/>
<%= text_field 'kontrahent', 'regon'  %></p>

<p><label for="kontrahent_nip">Nip</label><br/>
<%= text_field 'kontrahent', 'nip'  %></p>

<p><label for="kontrahent_tel">Telefon</label><br />
<%= text_field 'kontrahent', 'tel' %></p>

<p><label for="kontrahent_auto">Nr samochodu</label><br>
<%= text_field 'kontrahent', 'auto' %>

<p><label for='kontrahent_panstwo">Panstwo</label><br />
<%= text_field 'kontrahent', 'panstwo' %></p>
<!--[eoform:kontrahent]-->

