<div><%= link_to "Wróć", :action => 'firma' %></div> <div align='right'><%= link_to "Suma faktur za okres", :action => 'podlicz', :id_w => @id_w %></div>
<br><br>
<% if @zalegle != 0%> Ilosc faktur nie opłaconych: <font color='red'><%= @zalegle %></font><% end %>
<h2> Faktury Wystawione </h2>


<table BORDER=1 CELLPADDING=3 CELLSPACING=1 RULES=ROWS FRAME=HSIDES>
  <tr>
    <td colspan='6'>Wystawiono faktur na kwote: <b><font color='green'><%= display_s(@sf.to_f) %> zł</font> </b>  </td>
  </tr>
  <th>Nazwa faktury</th>
  <th>Data wystawienia</th>
  <th>Suma faktury</th>
  <th>Odbiorca</th>
  <th>Data spłacenia</th>
  <th>Termin</th>
  <th>Stan faktury</th>
  <% @faktury_wystawione.each do |item| %>
    <tr>
      <td><%= link_to item.nr_faktury, {:action => 'show', :id=>"#{item.nr_faktury.to_s}", :id_k => item.id_kontrahenta, :id_w => item.id_wystawcy, :skad => 's'}%></td>
      <td><%= item.data_wystawienia %></td>
      <td><%= display_s(item.suma_faktury) %></td>
      <td><%= item.nazwa %> </td>
      <td><%= item.data_sprzedazy %></td>
      <td><%= item.termin %></td>
      <% if item.stan_faktury.to_s == "1" %>
        <td>  Zapłacona </td>
      <% else %>
        <td><%= image_tag("wykrzyknik.jpg", :height => '15', :width => '15')  %> <%= link_to  "<font color=\"red\">Zaległa</font>", {:action => 'pay', :id=>item.nr_faktury, :id_w=> @id_w}, :confirm=>"Czy napewno faktura #{item.nr_faktury} została opłacona?"  %></td>
      <% end %>
      <td><%= item.forma_platnosci %></td>
      <td><%= link_to "Usuń", {:action => 'destroy', :id=>item.nr_faktury, :id_w => @id_w}, :confirm => "czy napewno usunąć fakture nr #{item.nr_faktury}" %>
    </tr>
  <% end %>
</table>
